body { margin: 2em auto; width: 90%; background-color: #fff; }

a { text-decoration: none; color: #1D7874; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #9B9B9B; }
ul { list-style: none; }

h1 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 5em; serif; color: #1D7874; }
h2 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 3em; font-color: #4A4A4A; }
h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 2em; font-color: #4A4A4A; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; background-color: #1B3939; width: 100%;}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
