body { margin: 1em auto; width: 90%; background-color: #fff; }

a { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; text-decoration: none; color: #457B9D; }
a:hover { text-decoration: overline; }

p, ul { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 1.5em; line-height: 1.4em; color: #A8DADC; }
ul { list-style: none; }

h1 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 5em; serif; color: #1D3557; margin-bottom: 1.5em; }
h2 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 3em; font-color: #1D3557; }
h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; font-size: 2em; font-color: #1D3557; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; }
li { margin: .5em; }

footer { font-size: 1em; background-color: #F1FAEE; width: 90%; }
ul.footer { float: right; margin-right: 1em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
