html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #7EACF9, #D681BF);
    background: -moz-linear-gradient( to left top, #7EACF9, #D681BF);
    background: -ms-linear-gradient( to left top, #7EACF9, #D681BF);
    background: -o-linear-gradient( to left top, #7EACF9, #D681BF);
    background: linear-gradient( to left top, #7EACF9, #D681BF);
}

body {
    margin: auto;
    width: 42%;
    text-align: center;
    color: #FFF;   
}

.main {
  font-family: 'Berkshire Swash', cursive;
  letter-spacing: 8px;
  font-size: 2em;
}

.sub {
  font-size: 0.75em;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #FFF;
}
