html, body {
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  background-size: cover;
}

div.container {
  text-align: left;
  vertical-align: middle;
  display: inline;
}

div.menu {
  margin-right: 10%;
}

div.menu > ul > a {
  margin: 10px;
  color: #000;
  text-decoration: none;
}

ul > a:hover {
 color: #bdc3c7;
 cursor: cell;
}

div.menu > ul {
  list-style: none;
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 18px;
}


div.container > * {
  color: #000;
  padding-top: 1em;
}

div.container > h2 {
  font-size: 60px;
  font-family: 'Monda', serif;
  letter-spacing: 3px;
  margin-left: 50px;
  margin-right: 10px;
}

div.container > p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: -50px;
  margin-left: 55px;
  margin-right: 20px;
}

footer {
  position: absolute;
  font-size: 18px;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999999;
}

footer > * {
  font-family: 'Roboto', sans-serif;
  color: #000;
  text-decoration: none;
}

p.credits {
  font-size: 12px;
}

footer > a:hover {
  color: #bdc3c7;
  cursor: cell;
}

