html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #fff;
    width: 100vw;
}

body {
    height: 100%;
    margin: 0;
    text-align: left;
    color: #000;
    display: block;
}

.margin {
  min-height: 100%;
}

.landing {
  padding: 20px;
  padding-bottom: 50px;
  margin-top: 3%;
  width: 80%;
}

.left {
  float: left;
  width: 80%;
}


//fonts


p {
  font-family: 'Roboto', sans-serif;
  color: #000;
}


h5 {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 2em;
  margin: 0;
}

.title {
  font-family: 'Monda', sans-serif;
  color: #000;
  font-size: 2em;
  margin: 0;
}

.button {
  border: 1.5px solid #000;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 9.6em;
}

.about {
  font-size: 1.5em;
}

a {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.intro {
  font-family: 'Monda', sans-serif;
  font-size: 4em;
  letter-spacing: 2px;
  margin-bottom: 3%;
  margin-top: -0.5em;
}

.mini-bio {
  font-size: 1em;
}

.menu {
  margin-top: 5em;
}

li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.right {
  width: 40%;
  float: right;
}

footer {
  background: #E9F7F9;
  width: 100vw;
  margin-left: -8em;
  height: 50px;
  margin-top: -50px;
  float: left;
}

.leftfoot {
  float: left;
  padding-left: 1em;
}

.rightfoot {
  float: right;
  padding-right: 1em;
}
